<footer class="w-full bg-[#F2EEE3] border-t border-gray-300 p-4">
  <div class="grid grid-cols-3 text-center">
    <%= link_to "利用規約", '#', class: "text-gray-700 hover:text-black" %>
    <%= link_to "プライバシーポリシー", '#', class: "text-gray-700 hover:text-black" %>
    <%= link_to "お問い合わせ", '#', class: "text-gray-700 hover:text-black" %>
  </div>
</footer>